<div class="footer container text-center" >
  <section>
      <hr>
      
      <p class="lead">
        Got any suggestions? Email me at <a href="mailto:jingen.lin.jl@gmail.com">jingen.lin.jl@gmail.com</a>
      </p>

      <ul class="inline">
        <li><strong>Follow me on:</strong></li>
        <li><a href="//www.facebook.com/profile.php?id=100000566501748"><img src="img/icons/facebook.png" alt="Jingen Lin's facebook"></a></li>
        <li><a href="//twitter.com/Jingen_Lin"><img src="img/icons/twitter.png" alt="Jingen Lin's twitter"></a></li>
        <li><a href="//www.linkedin.com/pub/jingen-lin/43/72b/218"><img src="img/icons/linkedin.png" alt="Jingen Lin's linkedin"></a></li>
      </ul>
  
      <div class="muted">&copy; Copyright 2013 - <a href="//www.linkedin.com/pub/jingen-lin/43/72b/218" class="muted">Jingen Lin</a></div>
      <hr>
  </section>
</div>
