<div class="footer container text-center pull-bottom" >
  <section>
      <hr>
      
      <p class="lead">
        Got any suggestions? Email me at <a href="mailto:jingen.lin.jl@gmail.com">jingen.lin.jl@gmail.com</a>
      </p>

      <ul class="inline">
        <li><strong>Follow me on:</strong></li>
        <li><a href="https://www.facebook.com/profile.php?id=100000566501748"><img src="img/icons/facebook.png" alt="facebook"></a></li>
        <li><a href="https://twitter.com/Jingen_Lin"><img src="img/icons/twitter.png" alt="twitter"></a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=154087796&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic"><img src="img/icons/linkedin.png" alt="linkedin"></a></li>
      </ul>
  
      <div class="muted">&copy; Copyright 2013 - Jingen Lin</div>
      <hr>
  </section>
</div>
