<div class="modal hide" id="contact-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Contact Me</h3>
  </div>

  <div class="modal-body">

    <form action="" class="form-horizontal">
      <div class="control-group">
        <label for="contact-name" class="control-label">Name:</label>
        <div class="controls">
          <input type="text" id="contact-name">
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="contact-email" class="control-label">Email:</label>
        <div class="controls">
          <input type="text" id="contact-email">
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="contact-message" class="control-label">Message:</label>
        <div class="controls">
          <textarea name="contact-message" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-primary" value="Send Message">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <a href="" data-dismiss="modal" class="btn">Cancel</a>
  </div>
</div>