<ul class="breadcrumb text-info instructions">
  <li>Enter URL Or Upload an Image<span class="divider"> > </span></li>
  <li>Specify the dimensions and the constraints<span class="divider"> > </span></li>
  <li>Resize and Enjoy</li>
</ul>


  <div ng-controller="ImageResize">

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#input-url" data-toggle="tab" ng-click="clearUpload()">Enter URL</a></li>
        <li><a href="#upload-image" data-toggle="tab" ng-click="clearURL()">Upload an image</a></li>
      </ul>
    </div>

    <div class="tab-content">

      <div class="tab-pane active" id="input-url">
        <div class="input-url">
         <span class="label label-info">Input Image URL:</span>
         <input class="input-block-level"  type="url" ng-model="image.remote_image_url" placeholder="http://" ng-change="urlChange()">
           <span class="help-block label label-success">e.g. http://www.example.com/image.jpg</span>
       </div>
      </div>


      <div class="tab-pane" id="upload-image">
        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input span3"> 
              <i class="icon-file fileupload-exists"></i>
              <span class="fileupload-preview"></span>
            </div>
            <span class="btn btn-file">
              <span class="fileupload-new">Upload Image</span>
              <span class="fileupload-exists">Change</span>
              <input type="file" ng-file-select="onFileSelect($files)"/>
            </span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload" id="fileDismiss">Remove</a>
          </div>
        </div>        
      </div>

    </div>

       <div class="well well-large dashboard">
         <p class="lead"><b>Your desired dimensions:</b></p>
         <div class="form-inline">
           <label>
             <span class="label label-inverse">Width</span>
             <div class="input-append">
               <input class="input-mini" type="text" ng-model="image.width"  ng-change="dimensionChange()" id="imageWidth">
               <span class="add-on">px</span>
             </div>
             <span class="label label-important">*Digits Only</span>
   
             <span ng-show="widthBadage">
               <span class="label label-success" ng-show="widthOk" ng-hide="!widthOk"><i class="icon-ok icon-white"></i></span>
               <span class="label label-important" ng-show="!widthOk" ng-hide="widthOk"><i class="icon-remove icon-white"></i></span>
             </span>
   
           </label>
         </div>
   
         <div class="form-inline">
           <label>
             <span class="label label-inverse">Height</span>
             <div class="input-append">
               <input class="input-mini" type="text" ng-model="image.height"  ng-change="dimensionChange()" id="imageHeight">
               <span class="add-on">px</span>
             </div>
             <span class="label label-important">*Digits Only</span>
   
             <span ng-show="heightBadage">
               <span class="label label-success" ng-show="heightOk" ng-hide="!heightOk"><i class="icon-ok icon-white"></i></span>
               <span class="label label-important" ng-show="!heightOk" ng-hide="heightOk"><i class="icon-remove icon-white"></i></span>
             </span>
   
           </label>
         </div>
   
         <p>Or:</p>
         <div class="form-inline">
           <label>
             <span class="label label-inverse">Scale Factor</span>
             <div class="input-append">
               <input class="input-mini" type="text" ng-model="image.scale" ng-change="scaleChange()" id="imageScale">
               <span class="add-on">%</span>
             </div>
             <span class="label label-important">*Digits Only</span>
   
             <span ng-show="scaleBadage">
               <span class="label label-success" ng-show="scaleOk" ng-hide="!scaleOk"><i class="icon-ok icon-white"></i></span>
               <span class="label label-important" ng-show="!scaleOk" ng-hide="scaleOk"><i class="icon-remove icon-white"></i></span>
             </span>
           </label>
         </div>
         <hr>
         <label class="radio">
           <input type="radio" ng-model="image.resize_method" value="free" id="radioFree">
           <b>Without any constraint.</b>
         </label>
         <label class="radio">
           <input type="radio" ng-model="image.resize_method" value="fit" id="radioFit">
           <b>Not crop the image.</b> Fit within the specified dimensions while retaining the original aspect ratio.
         </label>
         <label class="radio">
           <input type="radio" ng-model="image.resize_method" value="fill" id="radioFill">
           <b>If necessary, crop the image in the larger dimension.</b> Fit within the specified dimensions while retaining the original aspect ratio. 
         </label>
   
         <button class="btn btn-primary btn-large pull-right" ng-click="createImage()" disabled id="resizeBtn">Resize</button>
       </div>

       <div class="thumbnail clearfix">
         <span class="label label-info" ng-show="ready">Ready</span>

        <div ng-show="resizing">
          <img class="img-polaroid pull-left" alt="Image Preview" ng-show="!imageChanging" ng-src="{{newImage.url}}">
          <img class="pull-left" src="/img/loading.gif" ng-show="imageChanging">
        </div>

        <a class="btn btn-success btn-large pull-right download" ng-href="{{newImage.url}}" download>Download</a>
      </div>
    </div>
