<!DOCTYPE html>
<html ng-app="apps">
<head>
  <title>Jingen Lin's Applications | Web Developer | Software Engineer</title>
  <meta name="description" content="Jingen Lin is an excellent web developer / software engineer.">
  <meta name="description" content="Jingen Lin is experienced & proficient in Ruby on Rails, Java, HTML, CSS, Javascript, angular.js, jQuery, bootstrap.">
  <meta name="description" content="//www.linkedin.com/pub/jingen-lin/43/72b/218">
  <meta name="description" content="//www.facebook.com/profile.php?id=100000566501748">
  <meta name="description" content="//twitter.com/Jingen_Lin">
  <link rel="stylesheet" href="/css/bootstrap-all.css">
  <link rel="author" href="//plus.google.com/117946891143736169828">
  <link href="http://www.linjingen.com" rel="canonical" >
 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-router.min.js"></script>
<script src="/js/angular-file-upload.min.js"></script>

<script src="/js/apps-initializer.js"></script>
<script src="/js/resize-images.js"></script>
<script src="/js/spell-check.js"></script>
</body>
</html>
